<?php

return [
    'database' => [
        'name' => 'dbname',
        'username' => 'dbusername',
        'password' => 'dbpassword',
        'connection' => 'mysql:host=localhost',
        'options' => [
            PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
        ]
    ]
];