html, body {
	height: 100%;
}

body {
	position: relative;
}

.main {
	background-color: #FFFFFF;
}

.well p {
	font-size: 17px;
}

@media (max-width: 450px) {
	.well p {
    font-size: 14px;
	}

	.y-video > iframe {
    width: 280px;
    height: 180px;
	}
}