body, html {
  width: 100%;
  height: 100%;
}

.active {
  background-color: #FFFFFF;
}

.nav-tabs > .active > a {
  color: black !important;
  box-shadow: none !important;
}

.container {
  padding-right: 5%;
  padding-left: 5%;
}

.header {
	background: url("http://i.imgur.com/W3SpRri.jpg") no-repeat fixed center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 97.4%;

}

.jumbotron {
 	margin-top: 50px;
 	margin-bottom: 10px;
 	padding: 2px;

}

.jumbo-fix {
 	margin-top: 20px;
}

.main {
  height: 100%;
  background-color: #FFFFFF
}

.menu-box > .nav-tabs {
  background: #E65100 none repeat scroll 0% 0%;
}

.menu-box > .nav-tabs a {
  color: #FFFFFF;
  font-size: 2em;
}

.menu-box > .nav-tabs li:hover, .menu-box > .nav-tabs li:focus, .menu-box > .nav-tabs a:hover, .menu-box > .nav-tabs a:focus {
  background-color: #FFFFFF;
  color: black !important;
}

.menu-box.well {
  margin-top: 100px;
  padding: 0 !important;
  height: auto;
}

.menu-card {
	margin-top: 20px;
	height: 300px;
}

.menu-card h1 {
	text-align: center;
	font-size: 30px;
}

.menu-card p {
	text-align: center;
	font-size: 15px;
}

.nav-tabs > li {
  padding: 0 !important;
}

.tab-pane > .row {
  margin-top: 20px;
}

.well {
  height: 200px;
}

@media (max-width: 970px) {
  h3 {
    font-size: 17px;
  }

  p {
    font-size: 13px;
  }

  .menu-box > .nav-tabs a {
    font-size: 1.3em;
  }

  .menu-box {
    margin-bottom: 10px; 
    margin-top: 45px !important;
  }

  .main {
    height: auto;
  }

  .well {
    height: 211px;
  }
}

@media (max-width: 450px) {
  h3 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

  .menu-box > .nav-tabs a {
    font-size: 0.7em;
  }

  .menu-box {
    margin-bottom: 10px; 
    margin-top: 45px !important;
  }

  .main {
    height: auto;
  }

  .well {
    height: 211px;
  }
}

@media (max-height: 700px) {
  .main {
    height: auto;
  }
}