
 .container2 {
  padding-right: 5%;
  padding-left: 5%;
}



 .header {
	background: url("../../img/menu.jpg") no-repeat fixed center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;

}

 .jumbotron{
 	margin-top: 50px;
 	margin-bottom: 10px;
 	padding: 2px;

 }
 .jumbo-fix{
 	margin-top: 20px;
 }

.menu-card {
	margin-top: 20px;
	height: 300px;
}

.menu-card h1 {
	text-align: center;
	font-size: 30px;
}
.menu-card p {
	text-align: center;
	font-size: 15px;
}
.price{
/*position: absolute; bottom: 0;*/
  }

