 .header {
	background: url("../../img/reservations.jpg") no-repeat fixed center center / cover transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}

#reserve-jumbo {
	margin-top: 140px;
}

#reserve-jumbo h1 {
	text-align: center;
}

#reserve-jumbo a {
	text-align: center;
	font-size: 18px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.header-color {
	background-color: #E65100;
	height: 200px;
}

.form-card {
	position: relative;
	top: -55px;
}