 .header {
	background: url("../../img/reservations.jpg") no-repeat fixed center center / cover transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}

#reserve-jumbo {
	margin-top: 140px;
}

#reserve-jumbo h1 {
	text-align: center;
}

#reserve-jumbo a {
	text-align: center;
	font-size: 18px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.header-color {
	background-color: #E65100;
	height: 200px;
}

.form-card {
	position: relative;
	top: -55px;s
}

.form-group.is-focused .form-control .material-input:after {
  background-color: #E65100;
}

.form-group.is-focused label,
.form-group.is-focused label.control-label,
.form-group.is-focused.label-placeholder label,
.form-group.is-focused.label-placeholder label.control-label {
  color: #E65100;
}

.form-group.is-focused .form-control {
  outline: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E65100), to(#E65100)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#E65100, #E65100), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#E65100, #E65100), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#E65100, #E65100), linear-gradient(#D2D2D2, #D2D2D2);
