body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 15px;
    background-color: #e65100;
    border-bottom: 1px solid #e65100;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #333;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover, .active-tab {
    background-color: #ff6f00;
}

.move-down {
    padding-top: 50px;
}