body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav, .navbar, .navbar.navbar-default {
    font-size: 17px;
    background-color: #e65100;
    border-bottom: 1px solid #e65100;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, {
    color: #333;
}

.navbar .navbar-nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.move-down {
    padding-top: 50px;
}

.active {
    background-color: rgba(0, 0, 0, 0.05);
}