body,
html {
	width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

body {
	background-color: #FFFFFF;
}

footer {
  position: relative;
  z-index: -2;
  height: 300px;
  background: none repeat scroll 0% 0% #E65100;
  font-size: 12px;
  color: #CCC;
  text-align: center;
}

footer h1 {
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 110px;
  margin-left: -400px;
  width: 800px;
  list-style: outside none none;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  font-size: 2.125rem;
}

.container {
	padding-right: 150px;
	padding-left: 150px;
}

.fly-in {
	opacity: 0;
	-webkit-transform: translateY(220px);
	transform: translateY(220px);
	-webkit-transition: transform .95s cubic-bezier(.55, 0, .1, 1), opacity .5s cubic-bezier(.55, 0, .1, 1), box-shadow .5s cubic-bezier(.55, 0, .1, 1);
	transition: transform .95s cubic-bezier(.55, 0, .1, 1), opacity .5s cubic-bezier(.55, 0, .1, 1), box-shadow .5s cubic-bezier(.55, 0, .1, 1);
}

.fly-in.loaded {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.header-color {
	background-color: #E65100;
	height: 200px;
}

.header-element {
	position: relative;
	top: -55px;
}

.navbar .navbar-nav > li > a:hover, .active-tab {
	border-bottom: white 3px solid
}

.navbar {
	box-shadow: 0px 3px 5px #333;
}

.navbar-brand > img {
	display: inline-block;
	height: 40px;
}

.main {
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.8);
}

.move-down {
	padding-top: 50px;
}

.shadow-bottom {
	-moz-box-shadow:0 8px 8px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.8);
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.8);
}

.topnav, .navbar, .navbar.navbar-default {
	font-size: 17px;
	background-color: #e65100;
	border-bottom: none;
}
